[
	{
		"product": "speedbag",
		"acronym": "spdbg",
		"layer": "frontend",
		"application": "speedbag",
		"roots": ["/admin/speedbag"],
		"integration": {
			"javascript": {
				"npm": ["update"],
				"grunt": ["dist", "test"]
			}
		},
		"infrastructure": {
			"javascript": {
				"grunt": ["vtex-deploy"]
			}
		}
	}
]