[
	{
		"product": "speedbag",
		"acronym": "spdbg",
		"layer": "frontend",
		"application": "speedbag",
		"integration": {
			"javascript": {
				"npm": ["install"],
				"grunt": ["dist test --no-color --stack"]
			}
		},
		"infrastructure": {
			"javascript": {
				"grunt": ["vtex_deploy --no-color --stack"]
			}
		}
	}
]
