[
    {
        "product": "speedbag",
        "acronym": "spdbg",
        "layer": "frontend",
        "application": "speedbag",
        "integration": {
            "javascript": {
                "npm": ["update"],
                "grunt": ["dist", "test"],
                "teste" ["lalala", "lelele, "lilili", "abcess"]
            }
        },
        "infrastructure": {
            "javascript": {
                "infrastructure" ["oi", "ola", "teste", "abcd"],
                "grunt": ["vtex_deploy"]
            }
        }
    }
]
