[
	{
		"product": "speedbag",
		"acronym": "spdbg",
		"layer": "frontend",
		"application": "speedbag",
		"roots": [],
		"integration": {
			"javascript": {
				"npm": ["install", "update"],
				"grunt": "deploy"
			}
		},
		"infrastructure": {
			"s3": {
				"ApplicationDirectory": "speedbag"
			}
		}
	}
]